
/*mixin*/
@import "mixin";
/*FONT*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');






.container{
  width: 1310px;
  margin: 0 auto;
  @include sc-mid{
    width:auto;
  }
}
body{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
.main{
  padding-bottom: 80px;
  @include sc-mid{
    padding-top: 50px;
  }
}
.pg__wrapper{
  padding-top:121px;
  @include sc-mob{
    padding-top: 0;
  }
}
