@import "../../scss/mixin";
.header-m{
  display: none;
  @include sc-mid{
    display: block;
    margin-top: 11px;
  }
}
.nav-m{
  display: none;
  z-index: 1000;
  @include sc-mid{
    display: block;
    position: fixed;
    width: 100%;
    background: #fff;
  }
}
.nav-m__list{
  display: flex;
  justify-content:space-between;
}
.nav-m__item{
  width: 30%;
  padding: 0 50px;
}
.nav-m__link{
  padding: 12px 8px;
  text-align: center;
  display: block;
  cursor: pointer;
}
.nav-m__link svg{
  margin: 0 auto;
  width: 22px;
  fill:#888;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.nav-m__item:nth-child(2) svg{
  width: 18px;
}
.nav-m__link.is-selected svg{
  fill:#000;
}
.member{
  display: flex;
  justify-content:space-between;
}
.member form{
  width: 50%;
  padding: 0 8px;
}
.member__box{
  display: block;
}
.member__btn.btn{
  padding: 10px 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.member__btn--white.btn{
  border: 1px solid #ddd;
}
.member__btn--green.btn{
  background-color: $bg-point;
  color: $ft__bright;
}

/*btn hover */
.member__btn--green.btn:hover{
  background-color: $bg-point-hover;
}
.member__btn--white.btn:hover{
  border: 1px solid #888;
  color: #000;
}
